@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --background-image: url("Portfolio-Images\/pipes.png");
}

body {
    font-family: var(--font-family);
    background: var(--background-image) repeat;
    cursor: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 3.5em;
    border-bottom: 5px solid black;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #A42715;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 90%;
}




nav>p {
    font-size:30px;
}

nav>ul {
    display: flex;
    gap: 20px;
    padding: 0;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;

    & a {
        text-decoration: none;
        color: black;
    }
}

section>h3 {
    font-size: 80px;
}

#intro-text>p {
    font-size:clamp(.5rem, 3vw, 2rem);

}

.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding:100px;
}

#cart-reflection-text>p {
    font-size:clamp(.5rem, 3vw, 2rem);
    text-align: left;
}


.cart-reflection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    direction: rtl;
    text-align: left;
    padding:100px;
}

#certifications-text>p {
    font-size: 25px;
    width: 712px;
}

.certifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}

#awards-text {
    font-size:clamp(.5rem, 3vw, 2rem);
    text-align: left;
}

.awards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    direction: rtl;
    padding:100px;
}

#hobbies-text {
    font-size: 25px;
    width: 681px;
}

.hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    /* direction:rtl; */

    & img {
        border: 5px solid black;
    }
}

#projects {
    font-size: 50px;
    justify-self: center;
}

.web-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 60px;
    padding: 1.5em;
}

.ux-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 60px;
    padding: 1.5em;
}

.writing-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#EECU {
    display: flex;
    flex-direction: row;
    background-color: #0156A6;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}

#PawPal {
    display: flex;
    flex-direction: row;
    background-color: #2B5861;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;

    & img {
        border-radius: 15px;
    }
}


#zoologix {
    display: flex;
    flex-direction: row;
    background-color: #C27029;
    color: black;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}


#trion {
    display: flex;
    flex-direction: row;
    background-color: #00273B;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}

#MVS {
    display: flex;
    flex-direction: row;
    background-color: #222121;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}

#showcase-reflection {
    display: flex;
    flex-direction: row;
    background-color: #222121;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}

#ai-essay {
    display: flex;
    flex-direction: row;
    background-color: #D97757;
    color: black;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}

#BioShield {
    display: flex;
    flex-direction: row;
    background-color: #FBF3DD;
    color: black;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    gap: 20px;
}

.mvs-logo-portfolio {
    justify-self: center;
    aspect-ratio: 1/1;
    width:clamp(100px, 80%, 300px)
    
}

.cart-logo-about {
    justify-self: center;
}

.google-logo-about {
    justify-self: center;
}

.showcase-award {
    justify-self: center;
}

.dji-hsr-footage-mvs {
    justify-self: center;
}


#project-listing {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A42715;
    width: 270px;
    height: 90px;
    border-radius: 20px;
    color: #FFF;
    font-family: var(--font-family);
    font-size: 30px;
    text-decoration: none;
    align-self: center;
    text-align: center;
}

#project-p {
    font-size: 40px;
    justify-self: center;
}

#mvs-logo>img {
    aspect-ratio: 1/1;
    width: 135px;
    border-radius: 20px;
}

#eecu-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    & img {
        border-radius: 20px;
        border: 4px solid #000;
    }
}

#eecu-home-info {
    display: flex;
    flex-direction: column;

    & h4 {
        font-size: 35px;
    }

    & p {
        font-size: 25px;
    }
}

#MVS-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    direction: rtl;

    & h4 {
        font-size: 35px;
    }

    & p {
        font-size: 25px;
    }
}

#zoologix-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    & h4 {
        font-size: 35px;
    }

    & p {
        font-size: 25px;
    }
}

#header-info {
    display: flex;
    flex-direction: column;
}


#resume-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    margin-bottom: 0em;
    justify-items: center;

    & #resume-name {
        font-size: 50px;
        gap: 0;
    }

    & p {
        font-size:30px;
    }
}

#skills {
    font-size:30px;
}

#certifications {
    font-size: 30px;

}

#education {
    font-size: 30px;
}

#contact {
    font-size:30px;

}

#professional-summary {
    font-size:30px;

}


.resume-info {
    display: flex;
    align-content: center;
    justify-content: center;
}

#project {
    font-size:30px;
}

#resume-left {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

#resume-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:800px;
}

#resume-title {
    text-align: center;
    font-size: 50px;
}

#resume-logo {
    aspect-ratio: 1/1;
    border-radius: 20px;
    width: 180px;
    justify-self: center;
    align-self: center;
}

#pawpal-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
}


.pawpal-left {
    display: flex;
    flex-direction: column;
    gap: 4.7em;

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.pawpal-subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & img {
        border-radius: 15px;
        border: 5px solid black;
    }

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.pawpal-imagery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;

    & img {
        max-width: 100rem;
        justify-self: center;
    }

    & p {
        font-size: 30px;
    }
}

#pawpal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & section {
        display: flex;
        flex-direction: column;

        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
        }

        & li {
            font-size: 30px;
        }
    }

    & img {
        border: 5px solid black;
        border-radius: 20px;
        justify-self: flex-end;
    }
}


#pawpal-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & article {
        display: flex;
        flex-direction: column;
        gap: 30px;


        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
            align-self: center;
            font-weight: 700;
        }

        & li {
            font-size: 30px;
        }

        & img {
            aspect-ratio: 1/1;
            width: 500px;
            border: 5px solid black;
            border-radius: 20px;
            justify-self: center;
            align-self: center;
        }
    }

    & img {
        border: 5px solid black;
        border-radius: 20px;
        justify-self: flex-start;
    }
}


/* PROJECT #1: EECU BUDGET CALCULATOR CSS*/


#eecu-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
}


.eecu-left {
    display: flex;
    flex-direction: column;
    gap: 14.8em;

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.eecu-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.7em;

    & img {
        border-radius: 15px;
        max-height: 449px;
        border: 5px solid black;
    }

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.eecu-results-snapshot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    & img {
        max-height: 600px;
        border-radius: 15px;
        border: 5px solid black;
    }

    & p {
        font-size: 30px;
    }
}


/* Bio Shield */


#bio-shield-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
}



.bio-shield-left {
    display: flex;
    flex-direction: column;
    gap: 11.5em;

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}


.languages-used {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 70px;

    & img {
        aspect-ratio: 1/1;
        width: 200px;
    }
}


.bio-shield-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.7em;

    & img {
        border-radius: 15px;
        max-height: 449px;
        border: 5px solid black;
    }

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.bio-shield-snapshot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;

    & img {
        border: 5px solid black;
        border-radius: 20px;
    }
}

#bio-shield-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & img {
        width: 1000px;
        justify-self: flex-end;
        align-self: center;
        border: 5px solid black;
        border-radius: 20px;
    }

    & article {
        display: flex;
        flex-direction: column;
        gap: 30px;

        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
        }

        & li {
            font-size: 30px;
        }

        & img {
            width: 365px;
            height: 703px;
            border: 5px solid black;
            border-radius: 20px;
            justify-self: flex-end;
        }

    }
}


#bio-shield-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & img {
        width: 1000px;
        justify-self: flex-start;
        align-self: center;
        border: 5px solid black;
        border-radius: 20px;
    }

    & article {
        display: flex;
        flex-direction: column;
        gap: 30px;

        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
            align-self: center;
        }

        & li {
            font-size: 30px;
        }

        & img {
            aspect-ratio: 1/1;
            width: 500px;
        }
    }
}


#eecu-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 200px;

    & h2 {
        font-size: 70px;
    }

    & p {
        font-size: 30px;
    }

    & li {
        font-size: 30px;
    }

    & img {
        width: 365px;
        height: 703px;
        border: 5px solid black;
        border-radius: 20px;
        justify-self: flex-end;
    }
}

#eecu-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 200px;

}

#eecu-info-2 article {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & h2 {
        font-size: 70px;
    }

    & ul {
        justify-self: flex-start;
        align-self: flex-start;
    }

    & li {
        font-size: 30px;
        align-self: flex-start;
        justify-self: flex-start;
    }

    & img {
        aspect-ratio: 1/1;
        width: 350px;
        border: 5px solid black;
        border-radius: 20px;
        justify-self: center;
        align-self: center;
    }

    & p {
        font-size: 25px;
        font-weight: 700;
        align-self: center;
    }
}

.eecu-mobile-image {
    width: 365px;
    height: 703px;
    border: 5px solid black;
    border-radius: 20px;
    justify-self: flex-start;
}





/* UX Design Projects*/

/* MVS */

#mvs-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
    padding: 3em;
}

.mvs-left {
    display: flex;
    flex-direction: column;

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.mvs-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.7em;

    & img {
        max-height: 449px;
    }

    & h2 {
        font-size: 80px;
    }

    & p {
        font-size: 30px;
    }
}

.mvs-snapshot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    & img {
        max-height: 600px;
    }

    & p {
        font-size: 30px;
    }
}


#mvs-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & img {
        border-radius: 20px;
        align-self: center;
    }

    & article {
        display: flex;
        flex-direction: column;

        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
        }

    }
}

#mvs-info-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & img {
        border-radius: 20px;
        align-self: center;
    }

    & article {
        display: flex;
        flex-direction: column;

        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
        }

        & li {
            font-size: 30px;
        }
    }
}

.applications-used {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 300px;

    & p {
        font-size: 70px;
        text-align: left;
        justify-self: flex-start;
    }
}

#mvs-other-device-mockups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    & p {
        font-size: 30px;
        font-weight: 700;
    }

    & section {
        display: flex;
        flex-direction: row;
        gap: 500px;
    }
}

#mvs-info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    margin: 200px;

    & img {
        border-radius: 20px;
    }

    & article {
        display: flex;
        flex-direction: column;
        gap: 30px;


        & h2 {
            font-size: 70px;
        }

        & p {
            font-size: 30px;
            align-self: center;
            font-weight: 700;
        }

        & li {
            font-size: 30px;
        }

        & img {
            aspect-ratio: 1/1;
            width: 500px;
            align-self: center;
            border: 5px solid black;
            border-radius: 20px;
        }
    }
}

/* Zoologix */

#zoologix-project {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:10em;
    padding-bottom:200px;
}

.zoologix-left {
    display:flex;
    flex-direction:column;
    gap:11em;

    & h2 {
        font-size:70px;
        align-self:center;
    }

    & p {
        font-size:30px;
    }
}



.zoologix-right {
    display:flex;
    flex-direction:column;
    justify-content:center;

    & img {
        aspect-ratio:16/8;
        width:900px;
    }

    & h2 {
        font-size:70px;
    }

    & p {
        font-size:30px;
    }
}

#zoologix-snapshot {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;

    & img {
        height:450px;
    }

    & p {
        font-size:30px;
        font-weight:700;
    }
}

#zoologix-info-1 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    align-content:center;
    margin:200px;

    & img {
        align-self:center;
    }

    & section {
        display:flex;
        flex-direction:column;
        

        & h2 {
            font-size:70px;
        }

        & p {
            font-size:30px;
        }

        & li {
            font-size:30px;
        }
    }
}

#zoologix-mockups {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    
     & article {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        gap:250px;

        & img {
            height:500px;
            border-radius:20px;
            border: 5px solid black;
        }
     }

     & p {
        font-size:30px;
        font-weight:700;
     }
}


#zoologix-info-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;
    align-content:center;
    margin:200px;

    & img {
        justify-self:center;
        align-self:center;
        border: 5px solid black;
        border-radius:20px;
    }

    & article {
        display:flex;
        flex-direction:column;

        & h2 { 
            font-size:70px;
        }

        & li {
            font-size:30px;
        }
    }
}


/* Contact Form */


#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 30px;


    background: #222121;
    color: white;


    & input {
        background-color: #A42715;
        border-radius: 15px;
        width: 425px;
        height: 137px;


    }

    & textarea {
        background: #A42715;
        border-radius: 10px;
        width: 425px;
        height: 250px;

    }


    & label {
        font-size: 40px;
    }

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A42715;
        width: 300px;
        height: 90px;
        border-radius: 20px;
        color: #FFF;
        font-family: var(--font-family);
        font-size: 30px;
        text-decoration: none;
        align-self: center;
        text-align: center;
    }
}


@media (max-width:1000px) {
    .introduction {
        display:flex;
        flex-direction:column-reverse;
    }

    .cart-reflection {
        display:flex;
        flex-direction:column-reverse;
    }

    .certifications {
        display:flex;
        flex-direction:column-reverse;
    }

    .awards {
        display:flex;
        flex-direction:column-reverse;
    }

    .hobbies {
        display:flex;
        flex-direction:column-reverse;
    }
}